*{
  
    box-sizing:border-box; 
}
:root{
    --color: hsl(175, 56%, 63%); 
    --secondaryColor:hsl(203, 66%, 26%);
    --primary-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Outfit', sans-serif;
}
html{
    scroll-behavior: smooth;
}

html,body{
    
    margin:1em;
    font-family: var(--primary-font);
    
}

/*navigation*/
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:0 auto;
    font-size: 18px;
}
.mobile-nav-toggle{
    display:none;
}

ul{
    display:flex;
    gap:1rem;
    
}


.primary-navigation{
    list-style:none;
    padding:0;
    margin:0;
    background:hsl(0 0% 0% / 0.3);
}
@supports (backdrop-filter:blur(1rem)){
    .primary-navigation{
        background:hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(0.7rem);
    } 
}


.primary-navigation a{
    text-decoration:none;
}

.primary-navigation a > span {
    font-weight:700;
    margin-inline-end:.75em;
}
a{
    text-decoration: none;
    
    cursor:pointer;
    
}


a:hover{
    text-decoration: underline;
    color: var(--color);
    
}



/*intro section */

header{
    height: 40vh;
    display:flex;
    
}

div.contain{
    display: flex;
    flex-direction:column;
    justify-content:center;
  
}

.hello{
    color:var(--color);
}

h1{
    font-size: 5vw;
    margin-bottom:1px;;
}

h1.description{
    margin-top:0;
}


i.icon{
    font-size:6vw;
    padding:1rem;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    margin:1em;
    border: 1px solid var(--color);
    
}

div.social{
    padding:3rem;
}







.myPhoto{
    grid-template-areas: 1/ 2/ span 1/ span 1;
}

.me{
    height:450px;
    filter:drop-shadow(30px 10px 4px var(--color));
}


.button{
    border: 3px solid var(--color);
    border-radius: 3px;
    padding:1em;
    position: absolute;
}

.button:hover{
    background-color: var(--color);
}



/*for projects info */

.container{
    display:grid;
    grid-template:  1fr 1fr / repeat(2, 1fr);
    grid-gap:1em;
    margin-left: 1em;
    margin-right:1em;

}

img{
   object-fit:contain; 
}
.project{
    border: 1px solid white;
    border-radius:5px;
    padding:2px;
}

.image a:hover{
color:var(--secondaryColor);
border-color:var(--secondaryColor);
}

.image {
    position: relative;
    width: 100%;
    height:100%;
    background-color: black;
}

.image__img {
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover; 
    
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: var(--color);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

/*contact section*/


.connect{
    text-align:center;
    border:3px solid var(--color);
    margin:1em auto;
    padding:1em;
    max-width:400px;
}

.chat{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:1em 0;
}
.chat a{
    background-color:var(--secondaryColor);
    padding:0 7px;
    border-radius:5px;
}

footer{
    text-align:center;
}



@media only screen and (max-width: 800px){
   /*navigation*/
    .primary-navigation {
        position:fixed;
        inset:0 0 0 30%;
        z-index: 1000;
        flex-direction:column;
        padding:min(15vh, 10rem);
        --gap:2em;
        transform: translateX(100%);  
        transition: transform 1s ease-out; 
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }
    .mobile-nav-toggle{
        display:block;
        position:fixed;
        aspect-ratio: 1;
        z-index:9999;
        width:2rem;
        top:2rem;
        right:2rem;
        border:0;

    }

/*project*/
    .container{
      grid-template: repeat(4, 1fr) / repeat(1, 1fr);
      }
      summary{
          grid-template-columns: 100%;
          
      }
/*about me*/
      .myPhoto{
        display:none;
    }
    

 
}
   
    
   